extends ../layouts/page

block variables
    - const lang = 'en';

    - const pageTitle = 'Prices — Some service';

block append head

block content
    include ../components/content

block widget
    include ../components/__widget

block main
    include ../components/__stats

block controls
    include ../components/__controls
