section.stats.container
	h2.title.stats-title Our stats
	ul.stats-list
		li.stats-item
			p.stats-legend.customers
				span.stats-legend__title Customers
				br
				span.stats-legend__count 665
		li.stats-item
			p.stats-legend.writers-active
				span.stats-legend__title Writers active
				br
				span.stats-legend__count 169
		li.stats-item
			p.stats-legend.average
				span.stats-legend__title Average quality
					br
					| score&nbsp;
				span.stats-legend__count 9.5/10
		li.stats-item
			p.stats-legend.writers-online
				span.stats-legend__title Writers online
				br
				span.stats-legend__count 73
