.widget-content
	img.widget-img(src='assets/img/cloud.png')
	ul.widget-list
		li.widget-item
			h3.title.widget-title Free features
			p.widget-item__content
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet, architecto cumque libero magni minima nobis non sunt tempora voluptatum!Lorem ipsit amet, consectetur adipisicing elit. Adipisci amet, architecto cumque libero magni minima nobis non sunt tempora voluptatum!Lorem ipsumamet, consectetur adipisicing elit. Adipisci amet, architecto cumque libero magni minima nobis non sunt tempora voluptatum!
		li.widget-item
			p.widget-item__content
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet, architecto cumque libero magni minima nobis non sunt tempora voluptatum!Lorem ipsit amet, consectetur adipisicing elit. Adipisci amet, architecto cumque libero magni minima nobis non sunt tempora voluptat
		li.widget-item
			p.widget-item__content
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet, architecto cumque libero magni minima nobis non sunt tempora voluptatum!Lorem ipsit amet, consectetur adipisicing elit. Adipisci amet, architecto cumque libero magni minima nobis non sunt tempora voluptat
		li.widget-item
			p.widget-item__content
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet, architecto cumque libero magni minima nobis non sunt tempora voluptatum!Lorem ipsit amet, consectetur adipisicing elit. Adipisci amet, architecto cumque libero magni minima nobis non sunt tempora voluptat
		li.widget-item
			p.widget-item__content
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet, architecto cumque libero magni minima nobis non sunt tempora voluptatum!Lorem ipsit amet, consectetur adipisicing elit. Adipisci amet, architecto cumque libero magni minima nobis non sunt tempora voluptat

