h1.title.content-title Prices
p.content-desc The following information s considered when charging the order:
ul.content-features
	li.content-features__item
		p.content-features__legend.time Your duedate
	li.content-features__item
		p.content-features__legend.academic Academic level
	li.content-features__item
		p.content-features__legend.pages Pages/words

form.price-form.form
	.form-currency
		p.form-legend.form-currency__legend Select currency
		.form-field.form-currency__slider
			.form-currency__item.currency--active(data-currency='usd') Usd
				input.visually-hidden(type='radio' name='usd' id='usd')
			.form-currency__item(data-currency='eur') Eur
				input.visually-hidden(type='radio' name='eur' id='eur')
			.form-currency__item(data-currency='cad') Cad
				input.visually-hidden(type='radio' name='cad' id='cad')
			.form-currency__item(data-currency='gbr') Gbr
				input.visually-hidden(type='radio' name='gbr' id='gbr')
			.form-currency__item(data-currency='aud') Aud
				input.visually-hidden(type='radio' name='aud' id='aud')
	.form-services
		p.form-legend.form-services__legend Type of services
		input.form-field.form-services__field(type='text' placeholder='Type of services' value='Resume/CV services')
	.form-level
		p.form-legend.form-level__title Type level
		.form-field.form-level__field
			select#level-select

	.form-table
		.form-table__wrap
			.form-table__aside.popular
				p.form-table__aside-title Most popular
			.form-table__content
				.form-table__row.table-legend
					p.table-legend__title Services
					p.table-legend__key 5 days
					p.table-legend__key 3 days
					p.table-legend__key 48 hours
					p.table-legend__key 24 hours
				.form-table__row.row
					p.row-title Resume writing
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
				.form-table__row.row
					p.row-title Resume editing
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
				.form-table__row.row
					p.row-title CV writing
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
				.form-table__row.row
					p.row-title CV editing
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
				.form-table__row.row
					p.row-title Cover letter writing
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='12')
						span.value-mark $
						span.value-count 12
				.form-table__row.row
					p.row-title LinkedIn® Pro Bio
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
				.form-table__row.row
					p.row-title Resume design services
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
				.form-table__row.row
					p.row-title Resume/CV review
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
				.form-table__row.row
					p.row-title Basic Package: Resume + CV writing
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
				.form-table__row.row
					p.row-title Resume Package: Resume + Cover letter writing
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='12')
						span.value-mark $
						span.value-count 12
				.form-table__row.row
					p.row-title CV Package: CV + cover letter writing
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
		.form-table__wrap
			.form-table__aside.other
				p.form-table__aside-title Other
			.form-table__content
				.form-table__row.row
					p.row-title List of International Recruiting Agencies
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
				.form-table__row.row
					p.row-title List of 10 Top Job Sites
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
				.form-table__row.row
					p.row-title List of 10 Top Job Sites
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
				.form-table__row.row
					p.row-title List of 10 Top Job Sites
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
				.form-table__row.row
					p.row-title List of 10 Top Job Sites
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55
					.row-value.value
						input.visually-hidden(type='radio' name='value' value='125.55')
						span.value-mark $
						span.value-count 125.55

	.form-total
		.form-total__wrap
			p.form-total__title Total price:
			p.form-total__sum
				span.form-total__mark $
				span.form-total__pay 0
				input.form-total__field.visually-hidden(id='total' name='total' type='text' value)
		button#btn-buy.form-total__btn(type='submit') Proceed to order
