<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Prices — Some service</title>
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="assets/img/favicon/safari-pinned-tab.svg" color="#4758fc">
    <meta name="msapplication-TileColor" content="#252525">
    <meta name="theme-color" content="#252525">
    <link rel="preload" type="text/css" href="css/style.min.css" as="style">
    <link rel="stylesheet" type="text/css" href="css/style.min.css">
  </head>
  <body>
    <header class="header"></header>
    <main class="container main">
      <ul class="breadcrumbs">
        <li class="breadcrumbs-item"><a href="#" title="Home">Home</a></li>
        <li class="breadcrumbs-item"><a href="#" title="Pages">Pages</a></li>
        <li class="breadcrumbs-item"><span>Prices</span></li>
      </ul>
      <div class="main-wrap">
        <section class="content">
          <h1 class="title content-title">Prices</h1>
          <p class="content-desc">The following information s considered when charging the order:</p>
          <ul class="content-features">
            <li class="content-features__item">
              <p class="content-features__legend time">Your duedate</p>
            </li>
            <li class="content-features__item">
              <p class="content-features__legend academic">Academic level</p>
            </li>
            <li class="content-features__item">
              <p class="content-features__legend pages">Pages/words</p>
            </li>
          </ul>
          <form class="price-form form">
            <div class="form-currency">
              <p class="form-legend form-currency__legend">Select currency</p>
              <div class="form-field form-currency__slider">
                <div class="form-currency__item currency--active" data-currency="usd">Usd
                  <input class="visually-hidden" type="radio" name="usd" id="usd">
                </div>
                <div class="form-currency__item" data-currency="eur">Eur
                  <input class="visually-hidden" type="radio" name="eur" id="eur">
                </div>
                <div class="form-currency__item" data-currency="cad">Cad
                  <input class="visually-hidden" type="radio" name="cad" id="cad">
                </div>
                <div class="form-currency__item" data-currency="gbr">Gbr
                  <input class="visually-hidden" type="radio" name="gbr" id="gbr">
                </div>
                <div class="form-currency__item" data-currency="aud">Aud
                  <input class="visually-hidden" type="radio" name="aud" id="aud">
                </div>
              </div>
            </div>
            <div class="form-services">
              <p class="form-legend form-services__legend">Type of services</p>
              <input class="form-field form-services__field" type="text" placeholder="Type of services" value="Resume/CV services">
            </div>
            <div class="form-level">
              <p class="form-legend form-level__title">Type level</p>
              <div class="form-field form-level__field">
                <select id="level-select"></select>
              </div>
            </div>
            <div class="form-table">
              <div class="form-table__wrap">
                <div class="form-table__aside popular">
                  <p class="form-table__aside-title">Most popular</p>
                </div>
                <div class="form-table__content">
                  <div class="form-table__row table-legend">
                    <p class="table-legend__title">Services</p>
                    <p class="table-legend__key">5 days</p>
                    <p class="table-legend__key">3 days</p>
                    <p class="table-legend__key">48 hours</p>
                    <p class="table-legend__key">24 hours</p>
                  </div>
                  <div class="form-table__row row">
                    <p class="row-title">Resume writing</p>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                  </div>
                  <div class="form-table__row row">
                    <p class="row-title">Resume editing</p>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                  </div>
                  <div class="form-table__row row">
                    <p class="row-title">CV writing</p>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                  </div>
                  <div class="form-table__row row">
                    <p class="row-title">CV editing</p>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                  </div>
                  <div class="form-table__row row">
                    <p class="row-title">Cover letter writing</p>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="12"><span class="value-mark">$</span><span class="value-count">12</span>
                    </div>
                  </div>
                  <div class="form-table__row row">
                    <p class="row-title">LinkedIn® Pro Bio</p>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                  </div>
                  <div class="form-table__row row">
                    <p class="row-title">Resume design services</p>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                  </div>
                  <div class="form-table__row row">
                    <p class="row-title">Resume/CV review</p>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                  </div>
                  <div class="form-table__row row">
                    <p class="row-title">Basic Package: Resume + CV writing</p>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                  </div>
                  <div class="form-table__row row">
                    <p class="row-title">Resume Package: Resume + Cover letter writing</p>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="12"><span class="value-mark">$</span><span class="value-count">12</span>
                    </div>
                  </div>
                  <div class="form-table__row row">
                    <p class="row-title">CV Package: CV + cover letter writing</p>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-table__wrap">
                <div class="form-table__aside other">
                  <p class="form-table__aside-title">Other</p>
                </div>
                <div class="form-table__content">
                  <div class="form-table__row row">
                    <p class="row-title">List of International Recruiting Agencies</p>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                  </div>
                  <div class="form-table__row row">
                    <p class="row-title">List of 10 Top Job Sites</p>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                  </div>
                  <div class="form-table__row row">
                    <p class="row-title">List of 10 Top Job Sites</p>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                  </div>
                  <div class="form-table__row row">
                    <p class="row-title">List of 10 Top Job Sites</p>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                  </div>
                  <div class="form-table__row row">
                    <p class="row-title">List of 10 Top Job Sites</p>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                    <div class="row-value value">
                      <input class="visually-hidden" type="radio" name="value" value="125.55"><span class="value-mark">$</span><span class="value-count">125.55</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-total">
              <div class="form-total__wrap">
                <p class="form-total__title">Total price:</p>
                <p class="form-total__sum"><span class="form-total__mark">$</span><span class="form-total__pay">0</span>
                  <input class="form-total__field visually-hidden" id="total" name="total" type="text" value>
                </p>
              </div>
              <button class="form-total__btn" id="btn-buy" type="submit">Proceed to order</button>
            </div>
          </form>
        </section>
        <aside class="widget">
          <div class="widget-content"><img class="widget-img" src="assets/img/cloud.png">
            <ul class="widget-list">
              <li class="widget-item">
                <h3 class="title widget-title">Free features</h3>
                <p class="widget-item__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet, architecto cumque libero magni minima nobis non sunt tempora voluptatum!Lorem ipsit amet, consectetur adipisicing elit. Adipisci amet, architecto cumque libero magni minima nobis non sunt tempora voluptatum!Lorem ipsumamet, consectetur adipisicing elit. Adipisci amet, architecto cumque libero magni minima nobis non sunt tempora voluptatum!</p>
              </li>
              <li class="widget-item">
                <p class="widget-item__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet, architecto cumque libero magni minima nobis non sunt tempora voluptatum!Lorem ipsit amet, consectetur adipisicing elit. Adipisci amet, architecto cumque libero magni minima nobis non sunt tempora voluptat</p>
              </li>
              <li class="widget-item">
                <p class="widget-item__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet, architecto cumque libero magni minima nobis non sunt tempora voluptatum!Lorem ipsit amet, consectetur adipisicing elit. Adipisci amet, architecto cumque libero magni minima nobis non sunt tempora voluptat</p>
              </li>
              <li class="widget-item">
                <p class="widget-item__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet, architecto cumque libero magni minima nobis non sunt tempora voluptatum!Lorem ipsit amet, consectetur adipisicing elit. Adipisci amet, architecto cumque libero magni minima nobis non sunt tempora voluptat</p>
              </li>
              <li class="widget-item">
                <p class="widget-item__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet, architecto cumque libero magni minima nobis non sunt tempora voluptatum!Lorem ipsit amet, consectetur adipisicing elit. Adipisci amet, architecto cumque libero magni minima nobis non sunt tempora voluptat</p>
              </li>
            </ul>
          </div>
        </aside>
      </div>
      <section class="stats container">
        <h2 class="title stats-title">Our stats</h2>
        <ul class="stats-list">
          <li class="stats-item">
            <p class="stats-legend customers"><span class="stats-legend__title">Customers</span><br><span class="stats-legend__count">665</span></p>
          </li>
          <li class="stats-item">
            <p class="stats-legend writers-active"><span class="stats-legend__title">Writers active</span><br><span class="stats-legend__count">169</span></p>
          </li>
          <li class="stats-item">
            <p class="stats-legend average"><span class="stats-legend__title">Average quality<br>score&nbsp;</span><span class="stats-legend__count">9.5/10</span></p>
          </li>
          <li class="stats-item">
            <p class="stats-legend writers-online"><span class="stats-legend__title">Writers online</span><br><span class="stats-legend__count">73</span></p>
          </li>
        </ul>
      </section>
    </main>
    <footer class="footer">
      <div class="footer-content container"></div>
    </footer>
    <section class="control">
      <button class="control-btn" name="mobile-menu">
        <svg class="control-btn__icon" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" width="50" height="50">
          <path d="M241,512V451.67h-7.58a60.17,60.17,0,1,1,0-120.34H241V271H165.67a15,15,0,0,1-15-15V233.42a30.17,30.17,0,1,0-60.34,0V256a15,15,0,0,1-15,15H0V481.83A30.2,30.2,0,0,0,30.17,512Z"></path>
          <path d="M481.83,512A30.2,30.2,0,0,0,512,481.83V271H451.67v7.58a60.17,60.17,0,0,1-120.34,0V271H271v75.33a15,15,0,0,1-15,15H233.42a30.17,30.17,0,1,0,0,60.34H256a15,15,0,0,1,15,15V512Z"></path>
          <path d="M391.5,308.75a30.21,30.21,0,0,0,30.17-30.17V256a15,15,0,0,1,15-15H512V30.17A30.2,30.2,0,0,0,481.83,0H271V60.33h7.58a60.17,60.17,0,1,1,0,120.34H271V241h75.33a15,15,0,0,1,15,15v22.58A30.21,30.21,0,0,0,391.5,308.75Z"></path>
          <path d="M30.17,0A30.2,30.2,0,0,0,0,30.17V241H60.33v-7.58a60.17,60.17,0,1,1,120.34,0V241H241V165.67a15,15,0,0,1,15-15h22.58a30.17,30.17,0,1,0,0-60.34H256a15,15,0,0,1-15-15V0Z"></path>
        </svg><span class="visually-hidden">Open features</span>
      </button>
    </section>
    <section class="overlay" id="overlay"></section>
    <section class="modal" id="modal">
      <h3 class="visually-hidden">Modal Window</h3>
      <div class="modal-content">
        <p class="title modal-title">Please select services before continue...</p>
        <p class="title modal-desc">You order was</p>
        <p class="title modal-text"><span class="modal-desc__currency">$</span><span class="modal-desc__count">0</span></p>
        <button class="modal-btn" id="submit-close" name="close modal">Ok</button>
      </div>
    </section>
    <script src="/js/script.bundle.js"></script>
  </body>
</html>